@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --primary: 240, 240, 240;
  --foreground: 26, 26, 26;
  --secondary: 51, 51, 51;
  --bcolor: 209, 209, 209;
}

.dark {
  --primary: 26, 26, 26;
  --foreground: 240, 240, 240;
  --secondary: 200, 200, 200;
  --bcolor: 70, 70, 70;
}
