@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --primary: 240, 240, 240;
  --foreground: 26, 26, 26;
  --secondary: 98, 98, 98;
  --bcolor: 209, 209, 209;
}

.dark {
  --primary: 26, 26, 26;
  --foreground: 240, 240, 240;
  --secondary: 200, 200, 200;
  --bcolor: 70, 70, 70;
}

body {
  font-family: "Geist Mono", monospace;
  font-style: normal;
  @apply bg-primary text-foreground;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    rotate: -180deg;
  }
  to {
    opacity: 1;
    rotate: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

/* Spider Styling */

@keyframes hideThenShow {
  from {
    top: 20px;
  }
  to {
    top: 142px;
  }
}

@keyframes growLine {
  from {
    height: 0px;
  }
  to {
    height: 133px;
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}

@keyframes rotateLeftToRight {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -4.5deg;
  }
}

.spider {
  rotate: 180deg;
  position: absolute;
  right: 20px;
  animation:
    hideThenShow 1s ease-in-out forwards,
    leftToRight 1s ease-in-out infinite 1.5s alternate;
}

.spiderLine {
  position: absolute;
  border-width: 0px;
  border-radius: 10px;
  top: 15px;
  right: 34px;
  width: 2px;
  height: 0px;
  background-color: #ccc9c6;
  transform-origin: top center;
  animation:
    growLine 1s ease-in-out forwards,
    rotateLeftToRight 1s ease-in-out infinite 1.5s alternate;
}
