@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --primary: 240, 240, 240;
  --foreground: 26, 26, 26;
  --secondary: 98, 98, 98;
  --bcolor: 209, 209, 209;
}

.dark {
  --primary: 26, 26, 26;
  --foreground: 240, 240, 240;
  --secondary: 200, 200, 200;
  --bcolor: 70, 70, 70;
}

body {
  font-family: "Geist Mono", monospace;
  font-style: normal;
  @apply bg-primary text-foreground;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    rotate: -180deg;
  }
  to {
    opacity: 1;
    rotate: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease forwards;
}
